body{
    font-family: 'Lobster', cursive;
    font-size: 35px;
    background-color: gray;
    color: yellowgreen;
}

.header_div{
    background-color: black;
    color: yellow;
}

.header_div p{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: underline;
}

.main_div button{
    margin-top:30px ;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
    font-size: 20px;
}

.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    line-height: 3;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(255, 255, 255);    
    background-color: black;
    color: lightgreen;
}